  *{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: ProximaNova,arial,Helvetica Neue,sans-serif;
	
}
h1,h2,h3,h4,h5,h6{
	color: #f3f3f3;
}
p{
	
	color: #9f9f9f;

}
html{
	font-size: 18px;
}
body{
	background-color: #111;
    color: #9f9f9f;
    font-family: Poppins,sans-serif;
}

a{
	text-decoration: none;
	color: #9f9f9f;
}
.container{
	width:90%;
	margin: auto;
	padding:2rem 0;
	border-bottom:2px solid green;
	border-top:2px solid green;
}
.header-visible{
	display:flex;
	justify-content:space-between;
	align-items:center;
	background-color:#21242800;
	padding:1.5rem 3rem;
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:1;
	text-shadow:0px 0px 10px green;
	color:#9f9f9f;

}
header a{
	margin: .5rem 1rem;
	color:#f3f3f3;
}
header a:hover{
	color:green;
	border-bottom:1px solid #f3f3f3;
}
header .logo:hover{
	color:green;
}
header .logo,.menu i {
	font-size:2rem;
	font-weight:bold;
}	
header menu i:hover{
	color:green;
}
header .navi{
	position: relative;
}
.navi-none{
	display: none;
}
.navi-visible{
	display: flex;
}
.home{
	background-position: center;
	background-repeat: no-repeat;
	background-image:linear-gradient(#000000d1,#000000d1),url("..//img/bg2.jpg");
}
.home .container{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.home .container h1{
	font-size: 4rem;
}
.home .container h3{
	animation: work-ani 3s ease-in-out infinite  ;
	overflow: hidden;
	display: inline-block;
	font-size: 2rem;
	border-right: 2px solid #f3f3f3;
}

@keyframes work-ani{
	0%{
		width: 0%;
	}
	15%{
		width:15%;
	}
	25%{
		width: 25%;
	}
	50%{
		width: 50%;
	}
	60%{
		width:60%
	}
	100%{
		width: 60%;
	}
	
}
@media(min-width:300px){
	.about-home{
		width: 100% !important;
	}
	html{
		font-size: 10px !important;
	}
	.navi-visible a{
		width: fit-content;
	}
	.navi-visible{
		flex-direction: column !important;
		text-align: end;
		
	}
	.about-me-visible .row .col{
		width:100% !important;
		
	}
	.skills .col{
		width:80% !important;
	}
	.education .row .col{
		width: 90% !important;
	}
	.project .row .col{
		width:90% !important;
	}
}
@media(min-width:600px){
	.about-home{
		width: 50% !important;
	}
	html{
		font-size: 14px !important;
	}
	.navi-visible{
		flex-direction: row !important;
		text-align: center !important;
	}
	.about-me-visible .row .col{
		width:100% !important;
		
	}
	.skills .col{
		width:50% !important;
	}
	.education .row .col{
		width: 70% !important;
	}
	.project .row .col{
		width:70% !important;
	}
}
@media(min-width:900px){

.about-home{
	width: 100% !important;
}
html{
	font-size: 15px !important;
}
.navi-visible{
	flex-direction: row;
	text-align: center;
}
.about-me-visible .row{
	
	display: flex;
	flex-direction: row !important;
	
}
.skills .col{
	width:50% !important;
}
.education .row .col{
	width: 70% !important;
}
.project .row .col{
	width:50% !important;
}
}
@media(min-width:1200px){
	html{
		font-size: 18px !important;
	}
	.skills .col{
		width:33.3% !important;
	}
}
.home .container .social-icon{
	display:flex;
	position: fixed;
	right: 0;
	bottom: 0;
	margin: 1rem ;
	flex-direction: column;
	justify-content:space-evenly;
	align-items:center;
}
.home .container .social-icon div i:hover{
	background-color:green;
	color:#9f9f9f;
	box-shadow:0 0 5px #9f9f9f
}
.home .container .social-icon div i{
	font-size:1rem;
	color:green;
	width:2rem;
	display:flex;
	margin: 1rem;
	justify-content:center;
	align-items:center;
	height:2rem;
	box-shadow:0 0 7px #9f9f9f;
	border-radius:50%;
	
}


 
.about-me-visible .col{
	align-self:center;
	margin:1rem 0 ;
}
.about-me-visible .image{
	position:relative;
	border-radius:.25rem;
	
}
.about-me-visible .image::after{
	position:absolute;
	content:"";
	top:0;
	left:0;
	bottom:0;
	right:0;
	background:linear-gradient(#000000a3,#000000a3);
	
}
img{
	width:100%;
	border-radius:5px;

}
.bxs-x-square{
	font-size:2rem;
	font-weight:bold;
	color: green;
	position: fixed;
	right:3%;
	top: 3%;
}	


.about-me-visible .icon{
	width:3rem;
	height:3rem;
	display:flex;
	justify-content:center;
	align-items:center;
	border-radius:50%;
	background-color:green;
	border:.5rem solid #9f9f9f;
	color:#9f9f9f;
	line-height: 2.5rem;
	
}
.about-me-visible .icon-1 a:hover{
	color:#9f9f9f

}
.about-me-visible .icon-1{
	margin:1rem 0;
	font-size:1.1rem;
}	
.about-me-visible .icon-1 i{
	margin:0 1rem 
}
.about-me-visible .content h1{
	font-size:2rem;
	margin:.5rem 0;
}
.about-me-visible .content h1 span{
	font-size:1.3rem;
	color:green;

	
}
.about-me-visible .content p{
	font-size:1rem;
	
}
.about-me-visible .content{
    border: 1px solid #dee2e6;
	margin: 2rem;
	padding:2rem;
	border-radius: .25rem;
}
.about-me-visible .icon-1 i{
	color:green;
}
.about-me-visible .content-2{
	
	margin: 2rem;
    border: 1px solid #dee2e6;
	padding:2rem;
	border-radius: .25rem;
}
.about-me-visible .content-2{
	text-align: center;
}
.about-me-visible .content-2 h1{
	position:relative;
	padding: 1.5rem;
	text-shadow:0px 0px 10px green;
}
.about-me-visible .content-2 h1::after{
	position:absolute;
	content:"";
	border:1px solid #9f9f9f;
	width:10%;
	bottom:25%;
	left:45%;
	box-shadow: 1px 1px 3px green;
	
}

.about-me-visible .row{
		display:flex;
		flex-direction:column-reverse;
	
}
.about-me-visible .row .col{
	font-size:.7rem;
}

.about-me{
	display: none !important;
}
.about-me-visible{
	display: flex;
}
.home-none{
	display:none ;
}
.header-none{
	display: none;
}

.about-me-visible .social-icon{
	display:flex;
	margin: 1rem ;
	
	justify-content:space-evenly;
	align-items:center;
}
.about-me-visible .social-icon div i:hover{
	background-color:green;
	color:#9f9f9f;
	box-shadow:0 0 5px #9f9f9f
}
.about-me-visible .social-icon div i{
	font-size:1rem;
	color:green;
	width:2rem;
	display:flex;
	margin: 1rem;
	justify-content:center;
	align-items:center;
	height:2rem;
	box-shadow:0 0 7px #9f9f9f;
	border-radius:50%;
	
}

.head p{
	font-size:1rem;
}
 .head{
	text-align:center;
	
	
}
 .head h1{
	 text-shadow:0px 0px 10px green;
	 padding: 1rem 0;
	 font-size:2rem;
 }
 
.head .under{
	background-color: green;
	display: inline-block;
	width: 4rem;
	height: .5rem;
	position: relative;
	overflow: hidden;
}
.head .under .under-animat{
	display: block;
	width: 35%;
	border-left:3px solid #9f9f9f ;
	border-right:3px solid #9f9f9f ;
	background-clip: content-box;
	height: .5rem;
	padding:0 .3rem;
	background-color: #9f9f9f;
	animation: underline 3s ease-in-out infinite;
	position: absolute;
	top: 0;
	left: 0;
}
@keyframes underline{
	0%{
		transform: translateX(-100%);
	}
	100%{
		transform: translateX(500%);
	}
}

.project .row {
	display:flex;
	justify-content:space-evenly;
	flex-wrap:wrap;
	align-items:center;
	margin:3rem 0;
}
.project .row .col {
	width: 50%;
}

.project .row .col .content{
	padding:2rem;
	text-align:center;
	box-shadow:0 0 5px gray;
	margin:2rem;
	font-size:1rem;
}

	

.project .row .text-like div a i{
	margin:0 .5em;
}
.project .row .text-like{
	justify-content:space-evenly;
	flex-wrap:wrap;
	align-items:center;
	display:flex;
	padding:1rem 0;
}
.project .row .text-like div a{
	color:green;
	font-size:.8rem;
}
.project .row .text p{
	margin: .5rem 0;
}
.project .row .text-like div a:hover{
	color:#9f9f9f;
	text-shadow:0px 0px 10px green;
	
}

.project .content:hover{
	background-color:#282a2e;
}
.project .content .img img:hover {
	transform:scale(1.1);
	transition:all .5s .2s ease-in-out
}
.img{
	overflow: hidden;
}


.skills .row {
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	align-items:center;
	padding:1rem 0;
	
}
.skills .col{
	width: 33.3%;
	padding:1rem;
}
.skills .col .content{
	padding:1.5rem;
	line-height: 1.7rem;
	box-shadow:0 0 5px gray;
}
.skills .col .content i{
	font-size:2rem;
	color:green; 
}
.skills .col .content h1{
	padding:1rem 0;
}
.skills .col .content:hover{
	background-color:#282a2e;
}
.skills .col .content:hover h1{
	color:green;
	text-shadow:0px 0px 10px #9f9f9f;
}
.skills .col .content:hover span i{
	color: #9f9f9f;
	text-shadow:0px 0px 10px green;
}
.education .row{
	margin:2rem 0;
	display:flex;
	flex-direction:column;
	align-items:center;
}
.education .row .col{
	
	padding:1.5rem 0;
	margin: auto;
	box-shadow:0 0 3px 2px #454545;
	border-right:2px solid green;
	
}
.education .row-1{
	display:flex;
	flex-wrap:wrap;
	align-items:center;
	justify-content:end;
	position: relative;
}
.education .row .img-ed {
	position: relative;
	border-radius:1rem;
	overflow:hidden;
}
.education .row .img-ed .img-ed-back {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.535);
}
.education .row .img-ed:hover.img-ed img{
	transform:scale(1.2);
}
.education .row .col-1{
	width:25%;
}
.education .row .col-1 .img-ed{
	overflow:hidden;
	
}
.education .row .col-2{
	width:70%;
}
.education .row .col-2 .text{
	margin: 0 2rem;
	color: #9f9f9f;
	line-height: 1.5rem;
	
}
.education .row .text h1{
	font-size:1.2rem;
	padding-top: 1rem ;
	
}
.education .row .text h4{
	font-size: .8rem;
	
	
}

.education .text .year{
	padding:.3rem  .5rem;
	background-color:#f3f3f3;
	color:green;
	border-radius:2rem;
}
.education .bi-star-fill{
	position: absolute;
	top: 10%;
	color: green;
	font-size: 1.5rem;
	right: 3%;

}

.main{
	position: relative;
	overflow: hidden;
}

.animet-up{
	background-color: #111;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	transform: translate(0, 100%);
	animation: animat-up;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	border-bottom: 3px solid green;
	border-top: 3px solid green;
	
}
@keyframes animat-up{
	0%{
		transform: translate(0, 100%);
	}
	100%{
		transform: translate(0, -100%);
	}
}
.animet-down{
	background-color: #111;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	transform: translate(0, -100%);
	animation: animat-down;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	border-bottom: 3px solid green;
	border-top: 3px solid green;
	
	
}
@keyframes animat-down{
	0%{
		transform: translate(0, -100%);
	}
	100%{
		transform: translate(0, 100%);
	}
}